.box {
    background: #000;
    width: 100vw;
    height: 200px;
}

.font{
    font-family: "Bai Jamjuree";
}

.white {
    background: white;
    width: 10px;
    height: 10px;
}

.search-bar {
    background-color: aliceblue;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
}

.search-bar .provinceinput {
    width: 220px;
    height: 46px;
    padding: 0;
    padding-left: 10px;
    font-family: "Bai Jamjuree";
}

.datetime {
    width: 480px;
    height: 46px;
    background: #FFF;
    box-shadow: 1px 0px 5px rgba(0,0,0,.15);
}

.datetime hr{
    border-color: rgb(236, 236, 236);
}

.find-best {
    background: rgb(60, 60, 255);
    color: #FFF;
    font-size: 16px;
    border: none;
    padding: 20px;
    box-shadow: 1px 0px 5px rgba(0,0,0,.15);

}

.find-best:active {
   scale: 0.8;

}

.content-datetime {
    font-size: 14px;
    margin: 0 auto;
    
}

.items-center {
    align-items: center;
}

.arrow {
    width: 20px;
    height: 20px;
    stroke: black;
    stroke-width: 2px;
    stroke-linecap: round; 
    stroke-linejoin: round; 
  }

.progress-bar{
    width: 80%;
    justify-content: center;
    padding: 25px 10% 25px 10%;


}

.progress-bar div{
    background-color: rgb(224, 224, 224);
    padding: 10px;
    width: 20%;
    text-align: center;
}

.progress-bar .thisprogress {
    background-color: rgb(60, 60, 255);    
    color: #FFF;    
}


.t18px{
    font-size: 24px;
}

.filter-box{
    width: 25%;
    display: flex;
    align-items: space-around;
    padding: 10px 0;
    margin-left: 10%;
}

.content-filterbox {
    justify-content: space-between;
    
}

.detail-filter{
    background-color: rgb(224, 224, 224);
}

.read-more-state {
    display: none;
  }
  
.read-more-target {
    
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  
  .read-more-state:checked ~   .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
    
  }

  .read-more-state:checked ~.read-more-wrap{
    display: none;
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: '+';
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: '-';

  }


.filter-size {
    justify-content: space-between;
}

.catta{
    width: 25%;
    height: 100%;
}

.filterbar{
    margin-left: 20px;
    width: auto;
    height: auto;
    margin-top: 20px;
    justify-content: space-between;
}

.bigfilterbar{
    margin-left: 20px;
    width: 60%;
    justify-content: start;
}

.filtersort{
    height: 31px;
    width: 610px;
}

.filsortby{
    padding: 10px;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    padding-left: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 13px;

}
.filsortby p{
    width: 10%;
    padding: 10px;
}

.filsortbox{
    padding: 10px;
    width: 45%;
    text-align: center;
    background-color: rgb(224, 224, 224);
}
.filsortbox{
    padding: 10px;
    width: 45%;
    text-align: center;
    background-color: rgb(56, 56, 56);
    color: rgb(224, 224, 224);
}


.choosebox {
    padding: 10px;
    width: 45%;
    text-align: center;
    background-color: rgb(56, 56, 56);
    color: rgb(224, 224, 224);
}
.choosebox-clicked {
    padding: 10px;
    width: 45%;
    text-align: center;
    background-color: rgb(224, 224, 224);
}


.header-filter {
    flex-wrap: wrap;
}

.header-filter p{
    width: 50%;
    flex-wrap: nowrap;
}

.header-filter label{
    width: 45%;
    flex-wrap: nowrap;
    text-align: end;
}

.card-car-sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
  }
  
  input[type="checkbox"]:checked {
    background-color: #007bff;
    color: #fff;
  }


.choicse{
    padding: 5px;
    width: 100%;
    justify-content: start;    
    flex-wrap: wrap;

}
.choicse p{
    padding: 5px;
    width: 80%;
    flex-wrap: nowrap;
}
.choicse input{
margin: 5px;
}

.description{
    font-size: 10px;
    width: 100%;
    padding-left: 10%;
}

                            


