@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap%27');

:root{
    --textColor: black
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 2.5rem;

}

.nav {
    display: flex;
    justify-content: right;
    width: 100%;
    font-family: 'Mitr';
}

.nav a{ 
    padding: 14px 14px;
    color: var(--textColor);
    text-decoration: none;
}

.nav>div:first-of-type{
    border-right: 1px solid #8d8a8a;
}
