.cardsize {
    background-color: rgb(244, 244, 244);
    width: 30%;
    height: auto;
    padding: 2px;
    box-shadow: 1px 0px 5px rgba(0,0,0,.15);
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .cardsize.clicked {
    background-color: rgb(203, 203, 203);
  }




.cardsize img{
    width: 95%;
    height: 60%;
    margin-bottom: 2px;
}

.cardsize p{
    font-size: 10px;
    width: 100%;
}

.cardsize h6{
    font-size: 12px;
    margin-bottom: 2px;
}

